/* Color Palette:
#658864
#B7B78A
#f8f7f2 --- LOGO IMAGE BACKGROUND
#DDDDDD
#EEEEEE */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
}

.list-items {
    display: flex;
    align-items: center;
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
    list-style-type: none;
}

#logo {
    width: 200px;
    height: 100px;
    object-fit: cover;
}

footer {
  position: absolute bottom;
  height: 150px;
  width: 960px;
  margin: 30px auto auto auto;
  background-image: linear-gradient(#FFF,#B7B78A, #FFF);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
}

footer div {
  height: 60px;
  width: 960px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}