/* Color Palette:
#658864
#B7B78A
#DDDDDD
#EEEEEE */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav {
    width:960px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    position: fixed;
}

.list-items {
    display: flex;
    align-items: center;
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
    list-style-type: none;
    
}

main {
    width: 960px;
    margin: auto;
    border: 2px solid black;
}

#heroImg {
    width: 100vw;
    height:90vh;   
    opacity: 50%;
}

.aboutRuth{
    border: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

#aboutRuth{
    margin-right: 4rem;
    margin-left: 5px;
    width: 400px;
}
#aboutRuth h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}
#ruthImg{
    margin: 1rem 0rem 1rem 0rem;
}

.services {
    margin: auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 40px 500px;
    column-gap: 28px;
    justify-content: contain;
}

.services h3 {
    grid-column-start: 1;
    grid-column-end: 4;
}   
#weddingsOffer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#portraitsOffer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#maternityOffer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.bookAppt, .contactRuth, .cancelAppt{
    width: 100%;
    margin: 0rem auto 7rem auto;
    display: flex;
    justify-content: space-between;
}

.bookAppt>form, .cancelAppt>form{
    width: 75%; 
} 
 
.contactRuth form{
    width: 75%; 
}


label {
    display: block;
    width: 100%;
    margin: 20px;
}
label input{
    display: block;
    width:93%;
}

.submit{
    width: 150px;
    margin-left:75%;
}



#logo {
    width: 200px;
    height: 100px;
    object-fit: cover;
}
