* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: 1.5rem;
    letter-spacing: 1.3px;
}

/* Color Palette: Stick to logo-imgback for all backgrounds
- all text is black
- the only other color we will use is pictures
*/
:root{
    --dark-green: #658864;
    --dark-tan: #B7B78A;
    --light-gray: #DDDDDD;
    --logo-imgback: #f8f7f2;
}

body{
    background-color: var(--logo-imgback);
    font-family: 'Ubuntu', sans-serif;
}

#hero-container {
    position: relative;
}

#homepage-h1{
    position:absolute;
    bottom: 50px;
    right: 30px;
    color: white;
    font-size: 6rem;
    transition: 0.4s;
    /* font-family: 'Zeyada', cursive; */
    font-family: 'Fuggles', cursive;
}

#heroImg{
    max-width:100%;
    height:auto;
}

#ruthImg {
    max-width: 50%;
}

header {
    background-color: var(--logo-imgback);
    width: 960px;
    height: 105px;
    margin: auto;
    font-size: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
}

li > a {
    /* border: 2px solid black; */
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav {
    width:960px;
    display: flex;
    background-color: var(--logo-imgback);
    justify-content: space-between;
    border-bottom: 2px solid black;
    position: fixed;
    width: 960px;
    margin: auto;
    z-index: 9;
}

.list-items {
    display: flex;
    align-items: center;
    width: 50%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-basis: 100%;
    list-style-type: none;
}

main {
    width: 960px;
    margin: auto;
}


#heroImg {
  margin: auto;
}

.aboutRuth{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 7rem auto 7rem 0;
}

#aboutRuth{
    margin-right: 4rem;
    margin-left: 5px;
    width: 400px;
}

#aboutRuth h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

#services {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
}

#ruthImg{
    margin: 1rem 0rem 1rem 0rem;
}

.services {
    margin: auto;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    grid-template-rows: 40px 500px;
    column-gap: 28px;
    justify-content: contain;
}

.services h3 {
    grid-column-start: 1;
    grid-column-end: 4;
}   
#weddingsOffer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
#weddingsOffer > a > img, #portraitsOffer > a > img, #maternityOffer > a > img{
    max-width: 300px;
}

.bookAppt > img{
    max-height: 440px;
}

.contactRuth > img{
    max-height: 225px;
}

/* leave for scrolling */
#contactSection {
    padding-top: 8.5rem;
}

/* leave for scrolling  */
#apptSection {
    padding-top: 8rem;
}
.cancelAppt > img{
    max-height: 225px;
}

#portraitsOffer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

#maternityOffer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* form styling */
.bookAppt, .contactRuth, .cancelAppt{
    width: 100%;
    margin: 0rem auto 7rem auto;
    display: flex;
    justify-content: space-between;
    /* align-content: center; */
}

/* centers the image in the section */
.bookAppt img {
    margin: auto;
}

/* centers the image in the section */
.contactRuth img {
    margin:auto;
}
 
.contactRuth form{
    width: 75%; 
}


/* label {
    display: block;
    width: 100%;
    margin: 20px;
} */
/* label input{
    display: block;
    width:93%;
} */

#appt-section {
    margin-top: 2rem;
    padding: 2.5rem;
    border: 1px solid black;
}

input, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}

fieldset {
    padding: 1rem;
    margin: .5rem;
    border: solid black 1px;
    border-radius: 4px;
    }



#logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.noShow {
  display: none;
}

.form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}
/*
.btn-grad {
    background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;

  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
/*
    color: #fff;
    text-decoration: none;
  }
  */

  .submit {
    font-size: 15px;
    width: 150px;
    height:40px;
    padding: 0;
    border: solid rgba(0, 0, 0, 0.178) 1px;
    border-radius: 4px;

    background:
      conic-gradient(            #fff 0 90deg, #fff0 0) bottom left,
      conic-gradient(            #000 0 90deg, #fff0 0) bottom left,
      conic-gradient(from  90deg,#fff 0 90deg, #fff0 0) top left,
      conic-gradient(from  90deg,#000 0 90deg, #fff0 0) top left,
      conic-gradient(from 180deg,#fff 0 90deg, #fff0 0) top right,
      conic-gradient(from 180deg,#000 0 90deg, #fff0 0) top right,
      conic-gradient(from -90deg,#fff 0 90deg, #fff0 0) bottom right,
      conic-gradient(from -90deg,#000 0 90deg, #fff0 0) bottom right,
      #000;
    -webkit-background-clip:text,padding-box;
            background-clip:text,padding-box;
    background-size: 202% 202%;
    transition: 0.25s;
  }
  
  .submit:hover {  
    background-position: center;
    color:white;
   }

#kirk {
    max-width: 400px;
}

/* Styling for the footer and its children  */
footer {
    position: absolute bottom;
    background:#07080D;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    display: grid;
    text-align: center;
    grid-template-rows: 1px 10px 100px 30px 25px;
    color:#ffffffff;
}



footer img{
    grid-row-start: 3;
    grid-row-end: 4;
    height: 100px;
    margin: 0 auto;
    filter:invert(100%)
}

#footer-copyright {
    grid-row-start: 4;
    grid-row-end:5;
}

#footer-creators {
    grid-row-start: 5;
}

#footer-creators p a{
    text-decoration: none;
    color: whitesmoke;
}

/* ****image overlay when hovered**** */
.services section {
    position:relative;
}
.text {
    /* border: 2px solid black; */
    background-color: #ddddddc5;
    position: absolute;
    box-sizing: content-box;
    text-align: center;
    font-family: 'Zeyada', cursive;
    font-size: 35px;
    color:#07080D;
    opacity:0;
    transition: 0.4s ease-in-out;
}

#weddingsOffer a .text{
    padding: 213px 97px;
}
#portraitsOffer a .text{
    padding: 213px 93px;
}

#maternityOffer a .text{
    padding: 214px 83px;
}

.text:hover {
    opacity: 1;
}